*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html,body{
    height: 100%;
    width: 100%;
}

h1{
    font-size: 50px;
    margin: 5px;

}
button{
    padding: 10px 20px;
    margin: 5px;
    background-color: gray;
    border: none;
    border-radius: 5px;
}